{%- if url -%}
  <a href="{{ url }}" class="button {{ classes }}" {{ attributes }}>{{ text }}</a>
{%- else -%}
  <button class="button {{ classes }}" {{ attributes }}>{{ text }}</button>
{%- endif -%}
