{{ attach_library('ca_storybook_starterkit/card')}}
<article class="card {{ classes }}" {{ attributes }}>
  {% include '@components/heading/heading.twig' with {
      text: card_title,
      level: card_title_level|default('3'),
      classes: 'font-heading-xl',
    }
  %}
  {% if card_subtitle %}
    {% include '@components/heading/heading.twig' with {
        text: card_subtitle,
        level: card_subtitle_level|default('4'),
        classes: 'font-heading-lg',
      }
    %}
  {% endif %}
  {% if card_cta_url %}
    {% include '@components/button/button.twig' with {
        text: card_cta_text,
        url: card_cta_url,
        classes: card_cta_classes,
      }
    %}
  {% endif %}
  {% if card_links %}
    <div class="card__links">
      <button class="card__links-toggle" aria-controls="card-link-list-{{ card_links_list_id }}" aria-expanded="false"><span>{{ card_links_toggle_text }}</span></button>
      <ul class="card__links-list" id="card-link-list-{{ card_links_list_id }}" aria-hidden="true">
        {% for item in card_links %}
          <li class="card__link">
            <a href="{{ item.url }}">{{ item.text}}</a>{% if not loop.last %}, {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <div class="usa-accordion">
  <h4 class="usa-accordion__heading">
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="accordion-1">
      USWDS Accordion One
    </button>
  </h4>
  <div id="accordion-1" class="usa-accordion__content usa-prose" hidden>
    <p>Curabitur blandit tempus porttitor. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
  </div>
  <h4 class="usa-accordion__heading">
    <button class="usa-accordion__button"
      aria-expanded="false"
      aria-controls="accordion-2">
      USWDS Accordion Two
    </button>
  </h4>
  <div id="accordion-2" class="usa-accordion__content usa-prose" hidden>
    <p>Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper.</p>
  </div>
</div>
</article>
